{% extends 'base.html' %}

{% block title %}Movie details{% endblock %}

{% block body %}
<div class="title">
    <h1>{{ movie.title }}</h1>
</div>

<div class="overview">
    <p>
        {{ movie.overview }}
    </p>
</div>

<div class="movie-form-header">
<h1>Rate The Film!</h1>
</div>

<div class="movie-form">
    {% if session.get('user_email') %}
    <form action="/movies/{{ movie.movie_id }}/ratings" method="POST">
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="submit">
    </form>
    {% endif %}
</div>
    <img class="movie-img" src="{{ movie.poster_path }}">

{% endblock %}